.travelopia-table {
  border-collapse: collapse;
  width: 100%;
}

.travelopia-table th, .travelopia-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.travelopia-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.travelopia-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}


