<table class="travelopia-table">
  <thead>
  <tr>
    <th>Name</th>
    <th>EmailId</th>
    <th>location</th>
    <th>No.Of Travellers</th>
    <th>Budget</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let travelopiaData of travelopiaList ">
    <tr>
      <td>{{travelopiaData.name}}</td>
      <td>{{travelopiaData.emailAddress}}</td>
      <td>{{travelopiaData.location}}</td>
      <td>{{travelopiaData.travellers}}</td>
      <td>{{travelopiaData.budget}}</td>
    </tr>
  </ng-container>
  </tbody>

</table>
