
<body>
  <div class ="background">
    <h1>Travelopia</h1>
    <form [formGroup]="formGroup" >
      <label for="name">Name:</label>
      <input type="text" id="name" formControlName="name">

      <label for="email">Email Address:</label>
      <input type="email" id="email" formControlName="email">

      <label for="location">Where do you want to go?</label>
      <select id="location" formControlName="location">
        <option value="India">India</option>
        <option value="Africa">Africa</option>
        <option value="Europe">Europe</option>
      </select>

      <label for="travellers">No. of travellers:</label>
      <input type="number" id="travellers" formControlName="travellers">

      <label for="budget">Budget Per Person:</label>
      <input type="number" id="budget" formControlName="budget">

      <button type="submit" (click)="onSubmit()"   [disabled]="!formGroup.valid">Submit</button>
      <button type="submit" (click)="retrieveFormInfo()"  >Show Submissions</button>
    </form>
  </div>
</body>
