form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  height: 100%;
}

label {
  display: block;
  margin-top: 10px;
  font-size: 16px;
}
input[type="text"],
input[type="email"],
select,
input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  margin-bottom: 10px;
}
input[type="submit"],
button {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

input[type="submit"]:hover,
button:hover {
  background-color: #45a049;
}

body {
  height: 100%;
  background-color: #003366;
}

.background {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: 0 auto;
}
h1 {
  color: #ff0000;
  font-size: 36px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
